body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.horiz {
    display:flex;
    flex-direction: row;
    gap: 1rem;
}

.positionsGrid, .tradesGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0.25rem;
    margin-bottom: 3rem;
}