body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(9, 9, 20);
    color: #def;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.horiz {
    display:flex;
    flex-direction: row;
    gap: 1rem;
}

.positionsGrid, .tradesGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0.25rem;
    margin-bottom: 1rem;
}

.positionsGrid p, .tradesGrid p {
    margin: 0.5rem 0;
    align-self: center;
    justify-self: center;
}

.positionsGrid p:nth-last-child(-n + 5), .tradesGrid p:nth-last-child(-n + 5) {
    margin-bottom: 1.2rem;
}

.positionsGrid p:nth-child(-n + 5), .tradesGrid p:nth-child(-n + 5) {
    margin-top: 0.8rem;
}

.trade {
    display: none;
}

.expando {
    flex-direction: column;
    margin-top: 2rem;
    width: 60%;
}

.expandoHeader {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    background-color: rgba(20, 20, 51, 0.5);
    width: 100%;
    padding: 1rem 1.5rem;
    border: 2px solid rgba(20, 20, 51, 0.8);
    border-radius: 2rem;
    color: #def;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.expandoContent {
    transition: all 0.3s ease-in-out;
    width: calc(100% - 3.5rem);
    margin: 0 1.75rem;
    align-self: center;
    background-color: rgba(27, 27, 61, 0.5);
    border: 2px solid rgba(27, 27, 61, 0.8);
    border-top: none;
    border-radius: 0rem 0rem 2rem 2rem;
}

nav {
    justify-content: space-between;
    width: 80%;
    background-color: rgba(27, 27, 61, 0.5);
    border: 2px solid rgba(27, 27, 61, 0.8);
    margin: 2rem;
    padding: 0.75rem 1.25rem;
    border-radius: 2rem;
}

nav h1 {
    margin: 0;
}

nav button {
    align-self: center;
    background: none;
    border: none;
    color: #def;
    cursor: pointer;
    font-size: 0.9rem;
}

.moneyDiv {
    gap: 3rem;
    justify-content: space-around;
}

.moneyDiv h4 {
    margin: 0;
}

.moneyLabel {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.watchlist {
    margin: 2.5rem 0 1rem;
    background-color: rgba(20, 20, 51, 0.5);
    border: 2px solid rgba(20, 20, 51, 0.8);
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
}

.watchlist h2 {
    margin: 0;
}

.watchlist p{
    margin: 1rem 0 0;
}

.watchlist h3 {
    margin: 0.1rem 0 0;
}

#watchlistDiv {
    width: 100%;
    align-items: center;
    justify-content: center;
}