body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.horiz {
    display:flex;
    flex-direction: row;
    gap: 1rem;
}

.positionsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0.25rem;
}