body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(9, 9, 20);
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.horiz {
    display:flex;
    flex-direction: row;
    gap: 1rem;
}

.positionsGrid, .tradesGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0.25rem;
    margin-bottom: 1rem;
}

.trade {
    display: none;
}

.expando {
    flex-direction: column;
    margin-top: 2rem;
}

.expandoHeader {
    background: none;
    border: none;
    color: #fff;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.expandoContent {
    transition: all 0.3s ease-in-out;
}

nav {
    justify-content: space-between;
    width: 80%;
    background-color: rgba(27, 27, 61, 0.5);
    border: 2px solid rgba(27, 27, 61, 0.8);
    margin: 2rem;
    padding: 0.75rem 1.25rem;
    border-radius: 2rem;
}

nav h1 {
    margin: 0;
}

nav button {
    align-self: center;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.9rem;
}